<div class="login-wrapper">

  <form [formGroup]="loginForm" (ngSubmit)="submit()">

    <div class="field">
      <label class="label">ID</label>
      <div class="control">
        <input class="input" type="text" formControlName="id">
      </div>
    </div>

    <div class="field">
      <label class="label">password </label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" formControlName="password" type="text">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-success is-medium register-btn" type="submit">
          Login
        </button>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary is-medium register-btn" type="submit">
          Register
        </button>
      </div>
    </div>


  </form>

</div>