<div class="chat-room-info-header">
    <h2>Room Info</h2>
    <div class="chat-room-info-close">
        <fa-icon [icon]="faTimes" size="lg"></fa-icon>
    </div>
</div>
<div class="chat-room-summery">
    <h4>ROOM 요약 정보</h4>
    <p>
        방 상세 정보
    </p>
    
</div>
<div class="chat-room-user-list">
    <div class="user-room-menu">
        <fa-icon [icon]="faUsers" size="lg"></fa-icon>
        <h4> 50 USERS </h4>
        <fa-icon [icon]="faSearch" size="lg"></fa-icon>
        <fa-icon [icon]="faUserPlus" size="lg"></fa-icon>
    </div>
    <ul>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>

        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>
        <li>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

            <div class="user-list-info">
                <h4>홍길동</h4>
                <p> 최종 접속 시간</p>
            </div>
        </li>






    </ul>
</div>