<ul>
    <li>
        <fa-icon [icon]="faSmile" size="lg"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="faImage" size="lg"></fa-icon>
    </li>
    <li>
        <fa-icon [icon]="faMicrophone" size="lg"></fa-icon>
    </li>

</ul>
<textarea placeholder="text message" (keyup)="sendMessage.emit($event)"></textarea>