<ul>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">

      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
    <li>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
      <div class="user-list-info">
        <h4>Andy Hui - 5h</h4>
        <p> 이전 대화 기록</p>
      </div>
      <div class="user-list-history">
        <p>PM 20:00 </p>
        <fa-icon [icon]="faCircle" size="lg"></fa-icon>
      </div>
    </li>
  </ul>    