<nav>
  <ul>
    <li>
      <div class="menu-icon">
        <fa-icon [icon]="faSquare" size="3x"></fa-icon>
      </div>
    </li>
    <li>
      <div class="menu-icon">
        <fa-icon [icon]="faSquare" size="3x"></fa-icon>
      </div>
    </li>
    <li>
      <div class="menu-icon">
        <fa-icon [icon]="faSquare" size="3x"></fa-icon>
      </div>
    </li>
    <li>
      <div class="menu-icon">
        <fa-icon [icon]="faSquare" size="3x"></fa-icon>
      </div>
    </li>
    <li>
      <div class="menu-icon">
        <fa-icon [icon]="faPlus" size="2x" (click)="addChannel()"></fa-icon>
      </div>
    </li>
  </ul>
</nav>