<!--The content below is only a placeholder and can be replaced.-->


<div class="wrapper">

    
    <main>
        <router-outlet></router-outlet>
<!--         
        <chat-container>
        </chat-container> -->
    </main>

</div>

<!-- <footer></footer> -->
