:host { 
    margin-top: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
    width: 100%;
  
    .register-wrapper {
      min-width: 40%;
    }
  
    .register-btn{
        width: 100%;
    }
  }
  