<div class="register-wrapper">
  <form [formGroup]="registerForm" (ngSubmit)="register()">

    <div class="field">
      <label class="label">ID</label>
      <div class="control">
        <input class="input" type="text" formControlName="id">
      </div>
    </div>

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="email" formControlName="email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-exclamation-triangle"></i>
        </span>
      </div>
    </div>


    <div class="field">
      <label class="label">Email confirm</label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" formControlName="emailConfirm">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">password </label>
      <div class="control has-icons-left has-icons-right">
        <input class="input" type="text" formControlName="password">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button class="button is-primary is-medium register-btn">
          Register
        </button>
      </div>
    </div>

  </form>

</div>
