<div class="chat-user-image">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
</div>
<div class="chat-user-info">
  <h3>Darcy Chen</h3>
</div>
<div class="chat-user-menu">
  <fa-icon [icon]="faEllipsisV" size="lg"></fa-icon>
</div>
<div style="display: none;">
  <ul>
    <li> 

    </li>
    <li>메뉴2<li>
  </ul>
</div>