<div class="chat-header-user">
    <h2>Andy Hui</h2>
    <span>HongKing</span>
</div>
<div class="chat-header-menu">
    <ul>
        <li>
            <fa-icon [icon]="faSmile" size="lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faImage" size="lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faMicrophone" size="lg"></fa-icon>
        </li>
        <li>
            <fa-icon [icon]="faEllipsisV" size="lg"></fa-icon>
        </li>


    </ul> 
</div>