<ul>
    <li class="left">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <div class="chat-message-time">
            08:22
        </div>
    </li>
    <li class="right">

        <span class="chat-message-time">08:22</span>
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
    </li>
    <li class="right">

        <span class="chat-message-time">08:22</span>
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
    </li>
    <li class="right">

        <span class="chat-message-time">08:22</span>
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
    </li>
    <li class="right">

        <span class="chat-message-time">08:22</span>
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
    </li>
    <li class="left">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/dog.png">
        <div class="chat-message-item">
            <p>채팅 메세지 입니다</p>
        </div>
        <div class="chat-message-time">
            08:22
        </div>
    </li>
</ul>