/* chat ui component */
chat-container {
    width: 100%;
    height: 100%;
    min-width: 80%;
    background-color: #fff;
    box-shadow: 0 0 1.4rem #37375D;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-top: solid 0.02px #515173;
}

chat-aside-left {
    min-width: 20rem;
    width: 20%;
    background: #37375D;
    chat-user {
        display: flex;
        flex-direction: row;
        margin: 2.4rem 0 1.8rem 1.0rem;
        .chat-user-image {
            position: relative;
            &::before {
                content: '';
                position: absolute;
                right:0;
                height: 0.6rem;
                width: 0.6rem;
                border-radius: 50%;
                background: #62bf6e;
            }
            img {
                border-radius: 50%;
                width: 3.2rem;
                height: 3.2rem;
            }
        }
        .chat-user-info {
            color: #A3A3B5;
            margin: 0.4rem 0rem 0rem 1.6rem;
        }
        .chat-user-menu {
            color: #A3A3B5;
            margin: 0.4rem 0rem 0rem 6.2rem;
        }
    }
    chat-user-search {
        input[type=search] {
            outline: none;
            border: none;
            background: lighten(#37375D, 10);
            border-radius: 1.4rem;
            padding: 0.94rem;
            width: 91%;
            box-sizing: border-box;
            margin: 1.5*10px 20px;
            color: #fff;
        }
    }
    chat-user-list {
        ul {
            overflow: hidden;
            overflow-y: scroll;
            max-height: 53.7rem;
            // max-height: 95%;  
            list-style: none;
            li {
                display: flex;
                flex-direction: row;
                color: #515173; // padding: 25px 15px 25px 15px;
                padding: 1.4rem 0rem 1.4rem 1.0rem;
                img {
                    border-radius: 50%;
                    width: 3.2rem;
                    height: 3.2rem;
                }
                .user-list-info {
                    padding: 0.4rem 2.0rem 0rem 1.6rem;
                    h4 {
                        color: #A3A3B5;
                    }
                }
                .user-list-history {
                    margin: 0.4rem 0rem 0rem 0rem;
                    fa-icon {
                        padding: 0px 0px 0px 30px; // text-align: center;
                        color: #ED86A0;
                    }
                }
                &:hover {
                    background: lighten(#34355C, 10);
                    border-left: solid 8px #ED86A0;
                }
            }
        }
    }
}

chat-aside-right {
    min-width: 23rem;
    width: 60%;
    background: #313256;
    display: flex;
    flex-direction: column;
    chat-message-header {
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #515173;
        .chat-header-user {
            color: #515173;
            padding: 0.8rem 0.8rem 0.8rem 2.4rem;
        }
        .chat-header-menu {
            margin-left: auto;
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                padding: 0.4rem 0.4rem 0.2rem 0rem;
                li {
                    color: #515173;
                    padding: 1rem 1.4rem 0rem 0rem;
                }
            }
        }
    }
    chat-message {
        overflow: hidden;
        overflow-y: scroll;
        max-height: 46.0rem;
        ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            li {
                display: flex;
                flex-direction: row;
                .chat-message-time {
                    float: right;
                }
                img {
                    position: relative;
                    border-radius: 50%;
                    width: 3.2rem;
                    height: 3.2rem;
                }
                &.left {
                    img {
                        margin: -2.5rem -1.4rem 0rem 0rem;
                    }
                    margin-right: auto;
                    padding: 3.0rem 2.4rem 2.4rem 2.4rem;
                    .chat-message-time {
                        position: relative;
                        margin: -2rem 0rem -1rem -8rem;
                    }
                    .chat-message-item {
                        p {
                            padding: 1.0rem;
                        }
                        border-radius: 4rem;
                        background: #404265;
                    }
                    color: #8487A5;
                }
                &.right {
                    img {
                        margin: -2.5rem 0rem 0rem -1.8rem;
                    }
                    margin-left: auto;
                    padding: 3.0rem 2.4rem 2.4rem 2.4rem;
                    .chat-message-time {
                        position: relative;
                        margin: -2rem -7rem 0rem -2rem;
                    }
                    .chat-message-item {
                        background: #F46881;
                        border-radius: 4rem;
                        p {
                            padding: 1.0rem;
                        }
                    }
                    color: #FBBAC6;
                }
            }
        }
        border-bottom: solid 1px #515173;
    }
    chat-message-sender {
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            padding: 0.8rem 0rem 0.4rem 1.6rem;
            li {
                color: #515173;
                padding: 0rem 1.2rem 0rem 0rem;
            }
        }
        textarea {
            height: 5rem;
            margin: 0.4rem 2%;
            width: 96%;
            outline: none;
            padding: 1.0rem;
            border: none;
            border-radius: 0.8rem;
            resize: none;
            background: lighten(#37375D, 10);
            color: #fff;
            &:before {
                content: '';
                clear: both;
            }
        }
    }
   
}


chat-room-info {
    width: 20%;
    background: #37375D;
    display: flex;
    flex-direction: column;
    .chat-room-info-header{
        display: flex;
        flex-direction: row;
        border-bottom: solid 1px #515173;
        justify-content: space-between;
        padding: 1.75rem 0.8rem 1.0rem 1.4rem;
        color: #fff;
        .chat-room-info-close {
            text-align: center;
        }

        .chat-header-menu {
            margin-left: auto;
            ul {
                list-style: none;
                display: flex;
                flex-direction: row;
                padding: 0.4rem 0.4rem 0.2rem 0rem;
                li {
                    color: #515173;
                    padding: 1rem 1.4rem 0rem 0rem;
                }
            }
        }
    }
    .chat-room-user-list{
        .user-room-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            color: #A3A3B5;
            padding: 2rem 0.2rem 2rem 0.2rem;
        }
        ul {
            overflow: hidden;
            overflow-y: scroll;
            max-height: 40.7rem;
            list-style: none;
            li {
                display: flex;
                flex-direction: row;
                color: #515173;
                max-width: 55rem;
                padding: 0.4rem 0rem 0.4rem 1.0rem;
                img {
                    border-radius: 50%;
                    width: 3.2rem;
                    height: 3.2rem;
                }
                .user-list-info {
                    padding: 0.4rem 2.0rem 0rem 1.6rem;
                    h4 {
                        color: #A3A3B5;
                    }
                }
                &:hover {
                    background: lighten(#34355C, 10);
                }
            }
        }
    }
    
}