* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    direction: ltr;
    overflow: hidden;
}


.wrapper {
    display: flex;
    flex-direction: row;
   
    main {
        width: 100%;
        height: 100%;
    }
}
 
