
/* Scrollbar Styling */

::-webkit-scrollbar {
    width: 0.2rem; // 10px 0.2rem
}

::-webkit-scrollbar-track {
    background-color: darker(#37375D, 10);
    -webkit-border-radius: 0.4rem;
    ;
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.4rem;
    border-radius: 0.4rem;
    background: lighten(#37375D, 10);
}