


left-nav { 
    padding: 2rem 0rem 0rem 0rem;
    background: darken(#37375D,2);
    nav {
        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            li {  
                width: 5rem;
                height: 5rem;
                .menu-icon {
                    text-align: center;
                    color: #A3A3B5;
                }
            }
        }
    }
}